fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
passlib[bcrypt]
python-jose[cryptography]
scikit-learn
pandas
joblib
psycopg2-binary
pydantic-settings
joblib
numpy
scikit-learn
polars
xgboost
lightgbm
catboost
shap
